*~
*.swp

# tarballs
*.zip
*.tar.*z*

# extra wget backups
misc/*/*.1

# extra gentoo files
*.patch
*.diff

misc/gentoo-apache-*/conf/*
misc/gentoo-apache-*/docs/*
misc/gentoo-apache-*/patches/*
misc/gentoo-apache-*/scripts/*

# local folders and files
/test
/logs
/rsync-include-list
